<div class="kanban">
	<ul>
		<%= image_tag status+".jpg" %>
		<% result.each do |item| %>
			<% if id == item["status"]["id"] %>
				<%# if item["due_date"].present? %>
				<% if item["components"].present? %>
					<li class='task<%= item["components"].first["id"] %>'>
				<% else %>
					<li>
				<% end %>
					<p class="due_date"><%= item["due_date"] %></p>
					<p><%= item["summary"] %></p>
					<p><%= item["assigner"]["name"] %><p>
					<%= image_tag "" %>
					<%#= image_tag "priority"+item["priority"]["id"]+".png" %>
				</li>
			<% end %>
		<% end %>
	</ul>
</div>