<div class="kanban">
	<ul>
		<%= image_tag status+".jpg" %>
		<% result.each do |item| %>
		<% p "=============" %>
		<% p item %> 
			<% if id == item["status"]["id"] %>
				<% if item["components"].present? %>
					<li class='task<%= item["components"].first["id"] %>'>
				<% else %>
					<li>
				<% end %>
					<p class="due_date"><%= item["due_date"] %></p>
					<p><%= item["summary"] %></p>
					<p><%= item["assigner"]["name"] %><p>
					<%#= image_tag "" %>
					<% (1..5-item['priority']['id']).each do |n| %>
						<%= image_tag "star.png" %>
					<% end %>
				</li>
			<% end %>
		<% end %>
	</ul>
</div>